/*Admin Style*/

#janemancore_dashboard_widget .inside img {
    max-width: 100%;
}
#toplevel_page_fw-extensions {
	display: none;
}

.fw-flash-messages + .wrap .error {
	display: none;
}

#janemancore_dashboard_widget p {
    font-weight: 600;
}