/*-----------------------------------------
  header-style-1
----------------------------------------*/
.header-style-1 {
    border-bottom: 1px solid #ebebeb;
}

/*--------------------------------------------------------------
#0.4  hero slider
--------------------------------------------------------------*/
.hero {
    position: relative;
    height: 100vh;
    /** slider controls **/
    /*** arrow hover ***/
    /*** hero slider animation ***/
}

@media (max-width: 767px) {
    .hero {
        min-height: 420px;
    }
}

.hero .slide {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    position: relative;
}

@media (max-width: 767px) {
    .hero .slide {
        min-height: 420px;
    }
}

.hero .slide .slider-bg {
    display: none;
}

.hero .slide:focus {
    outline: none;
}

.hero .slide .container {
    height: 100%;
    display: table;
}

.hero .slide .row {
    display: table-cell;
    vertical-align: middle;
}

.hero .slick-prev,
.hero .slick-next {
    background-color: rgba(255, 133, 171, 0.6);
    width: 50px;
    height: 50px;
    z-index: 111;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px rgba(255, 133, 171, 0.9);
    box-shadow: 0 0 0 5px rgba(255, 133, 171, 0.9);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.hero .slick-prev:hover,
.hero .slick-next:hover {
    background-color: rgba(255, 133, 171, 0.8);
    -webkit-box-shadow: 0 0 0 5px #ff85ab;
    box-shadow: 0 0 0 5px #ff85ab;
}

@media (max-width: 1199px) {

    .hero .slick-prev,
    .hero .slick-next {
        width: 45px;
        height: 45px;
        -webkit-box-shadow: 0 0 0 3px rgba(255, 133, 171, 0.9);
        box-shadow: 0 0 0 3px rgba(255, 133, 171, 0.9);
    }
}

@media (max-width: 991px) {

    .hero .slick-prev,
    .hero .slick-next {
        width: 35px;
        height: 35px;
        -webkit-box-shadow: 0 0 0 3px rgba(255, 133, 171, 0.9);
        box-shadow: 0 0 0 3px rgba(255, 133, 171, 0.9);
    }
}

.hero .slick-prev:before,
.hero .slick-next:before {
    font-size: 20px;
}

@media (max-width: 991px) {

    .hero .slick-prev:before,
    .hero .slick-next:before {
        font-size: 18px;
    }
}

.hero .slick-prev {
    left: 0;
}

.hero .slick-prev:before {
    font-family: "themify";
    content: "\e629";
    opacity: 1;
}

.hero .slick-next {
    right: 0;
}

.hero .slick-next:before {
    font-family: "themify";
    content: "\e628";
    opacity: 1;
}

.hero:hover .slick-prev,
.hero:hover .slick-next {
    opacity: 1;
}

.hero:hover .slick-prev {
    left: 20px;
}

.hero:hover .slick-next {
    right: 20px;
}

.hero .slide-caption>div {
    overflow: hidden;
}

.hero .slide-caption>div * {
    -webkit-animation: fadeOutLeft 1.5s both;
    animation: fadeOutLeft 1.5s both;
}

.hero .slide-caption>div.slide-title * {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.hero .slide-caption>div.slide-subtitle * {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.hero .slide-caption>div.btns * {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.hero .hero-slider .slick-current .slide-caption>div * {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.hero .hero-slider .slick-current .slide-caption>div.slide-title * {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.hero .hero-slider .slick-current .slide-caption>div.slide-subtitle * {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.hero .hero-slider .slick-current .slide-caption>div.btns * {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

/*-----------------------------------------
  hero-style-1
----------------------------------------*/
.hero-style-1 {
    height: calc(100vh - 90px);
    min-height: 700px;
    overflow: hidden;
}

@media (max-width: 1199px) {
    .hero-style-1 {
        min-height: 600px;
    }
}

@media (max-width: 991px) {
    .hero-style-1 {
        min-height: 500px;
    }
}

@media (max-width: 767px) {
    .hero-style-1 {
        min-height: 420px;
    }
}

.hero-style-1 .slide {
    height: calc(100vh - 90px);
    position: relative;
    min-height: 700px;
    position: relative;
}

@media (max-width: 1199px) {
    .hero-style-1 .slide {
        min-height: 600px;
    }
}

@media (max-width: 991px) {
    .hero-style-1 .slide {
        min-height: 500px;
    }
}

@media (max-width: 767px) {
    .hero-style-1 .slide {
        min-height: 420px;
    }
}

.hero-style-1 .hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    /*** save the date ***/
    /*** popup save the date circle ***/
}

.hero-style-1 .hero-content>.container {
    position: relative;
    left: 0;
    height: 100%;
}

.hero-style-1 .hero-content .side-content {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 440px;
    height: 100%;
    top: 0;
    text-align: center;
}

@media (max-width: 767px) {
    .hero-style-1 .hero-content .side-content {
        width: 290px;
    }
}

.hero-style-1 .hero-content .birds-vector {
    margin-top: 80px;
}

@media (max-width: 767px) {
    .hero-style-1 .hero-content .birds-vector {
        display: none;
    }
}

.hero-style-1 .hero-content .couple-name-married-text {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 15px;
}

.hero-style-1 .hero-content .couple-name-married-text h2 {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    margin: 0;
}

@media (max-width: 1199px) {
    .hero-style-1 .hero-content .couple-name-married-text h2 {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .hero-style-1 .hero-content .couple-name-married-text h2 {
        font-size: 35px;
    }
}

.hero-style-1 .hero-content .married-text {
    border-top: 1px solid #dcd9d7;
    border-bottom: 1px solid #dcd9d7;
    padding: 15px 0;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .hero-style-1 .hero-content .married-text {
        padding: 10px 0;
    }
}

.hero-style-1 .hero-content .married-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: #6a6a6a;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (max-width: 1199px) {
    .hero-style-1 .hero-content .married-text h4 {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .hero-style-1 .hero-content .married-text h4 {
        font-size: 13px;
    }
}

.hero-style-1 .hero-content .save-the-date {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hero-style-1 .hero-content .save-the-date {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    bottom: -180px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: 1s 2.3s ease-in-out;
    -o-transition: 1s 2.3s ease-in-out;
    transition: 1s 2.3s ease-in-out;
}

@media (max-width: 1199px) {
    .hero-style-1 .hero-content .save-the-date {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 991px) {
    .hero-style-1 .hero-content .save-the-date {
        width: 270px;
        height: 270px;
    }
}

.hero-style-1 .hero-content .save-the-date:before,
.hero-style-1 .hero-content .save-the-date:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
}

.hero-style-1 .hero-content .save-the-date:before {
    background-color: rgba(255, 133, 171, 0.3);
    width: 108%;
    height: 108%;
    left: -4%;
    top: -4%;
    -webkit-animation: save-the-date-pulse 1s infinite;
    animation: save-the-date-pulse 1s infinite;
}

@media (max-width: 1199px) {
    .hero-style-1 .hero-content .save-the-date:before {
        width: 108%;
        height: 108%;
        left: -4%;
        top: -4%;
    }
}

.hero-style-1 .hero-content .save-the-date:after {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.hero-style-1 .hero-content .save-the-date h4 {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    margin: 55px 0 0.2em;
}

@media (max-width: 1199px) {
    .hero-style-1 .hero-content .save-the-date h4 {
        font-size: 35px;
        font-size: 2.33333rem;
        margin: 45px 0 0.15em;
    }
}

@media (max-width: 991px) {
    .hero-style-1 .hero-content .save-the-date h4 {
        font-size: 28px;
        font-size: 1.86667rem;
        margin: 30px 0 0.15em;
    }
}

.hero-style-1 .hero-content .save-the-date .date {
    font-size: 18px;
    font-size: 1.2rem;
    font-weight: 500;
}

@media (max-width: 1199px) {
    .hero-style-1 .hero-content .save-the-date .date {
        font-size: 16px;
        font-size: 1.06667rem;
    }
}

@media (max-width: 991px) {
    .hero-style-1 .hero-content .save-the-date .date {
        font-size: 14px;
        font-size: 0.93333rem;
    }
}

.hero-style-1 .hero-content .popup-save-the-date {
    bottom: -185px;
    opacity: 1;
    z-index: 50;
}

@media (max-width: 1199px) {
    .hero-style-1 .hero-content .popup-save-the-date {
        bottom: -170px;
    }
}

@-webkit-keyframes save-the-date-pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95);
        transform: scale3d(0.95, 0.95, 0.95);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes save-the-date-pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95);
        transform: scale3d(0.95, 0.95, 0.95);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.static-hero {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}

.spirit-header {
    position: relative;
    z-index: 100;
}

.ripple,
.particleground,
.video-player,
.surface-shader {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.hero-style-1 .hero-content .save-the-date .date {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
}

/***************************************
  hero style 2
****************************************/


.hero-style-2 .hero-slider {
    position: relative;
    height: 900px;
}

.hero-style-2 .slide {
    position: relative;
    height: 900px;
}

.hero-style-2 .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.hero-style-2 .slide:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(23, 18, 56, .35);
    z-index: 1;
}

.hero-style-2 .hero-circle {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-style-2 .hero-circle .circle-inner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-attachment: local;
    width: 520px;
    height:550px;
    display: table;
    position: absolute;
    left: 50%;
    top: calc(50% + 50px);
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
    .hero-style-2 .hero-circle .circle-inner {
        margin-top: -55px;
    }
}

@media (max-width: 991px) {
    .hero-style-2 .hero-circle .circle-inner {
        width: 400px;
        height: 481px;
        top: 50%;
    }
}

@media (max-width: 767px) {
    .hero-style-2 .hero-circle .circle-inner {
        width: 350px;
        height: 392px;
    }
}

@media (max-width: 450px) {
    .hero-style-2 .hero-circle .circle-inner {
        width: 280px;
        height: 392px;
    }
}

.hero-style-2 .hero-circle .text {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.hero-style-2 .hero-circle .text span img {
    max-width: 75px;
}
.hero-style-2 .hero-circle h4 {
    font-size: 20px;
    color: #fd76a0;
    margin: 1.5em 0 0;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .hero-style-2 .hero-circle h4 {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .hero-style-2 .hero-circle h4 {
        font-size: 16px;
    }
}

.hero-style-2 .hero-circle h4 span {
    display: inline-block;
}

.hero-style-2 .hero-circle h2 {
    font-size: 45px;
    color: #233442;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: "Great Vibes", cursive;
}

@media (max-width: 991px) {
    .hero-style-2 .hero-circle h2 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .hero-style-2 .hero-circle h2 {
        font-size: 45px;
    }
}


.hero-style-2 .hero-circle p {
    font-size: 18px;
    font-weight: 700;
    color: #fd76a0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 991px) {

    .hero-style-2 .hero-circle p,
    .hero-style-2 .hero-circle p {
        font-size: 18px;
    }
}

@media (max-width: 767px) {

    .hero-style-2 .hero-circle p,
    .hero-style-2 .hero-circle p {
        font-size: 16px;
    }
}

.hero.hero-style-2 .slide:focus {
    outline: none;
}

.hero.hero-style-2 .slide .container {
    height: 100%;
    display: table;
}

.hero.hero-style-2 .slide .row {
    display: table-cell;
    vertical-align: middle;
}

.hero.hero-style-2 .slick-prev,
.hero.hero-style-2 .slick-next {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 10;
    overflow: hidden;
}

.hero.hero-style-2 .slick-prev:after,
.hero.hero-style-2 .slick-next:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    z-index: 9;
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 180deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 180deg) translate3d(0, 100%, 0);
}

.hero.hero-style-2 .slick-prev:hover:after,
.hero.hero-style-2 .slick-next:hover:after {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 180deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 180deg) translate3d(0, -100%, 0);
}

@media (max-width: 991px) {

    .hero.hero-style-2 .slick-prev,
    .hero.hero-style-2 .slick-next {
        display: none !important;
    }
}

.hero.hero-style-2 .slick-prev {
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}


.hero.hero-style-2 .slick-next {
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}


.hero.hero-style-2:hover .slick-prev {
    left: 25px;
    opacity: 1;
    visibility: visible;
}

.hero.hero-style-2:hover .slick-next {
    right: 25px;
    opacity: 1;
    visibility: visible;
}

.hero.hero-style-2  .slick-dots {
    bottom: 30px;
    z-index: 10;
}

@media screen and (min-width: 992px) {
    .hero.hero-style-2  .slick-dots {
        display: none !important;
    }
}

.hero.hero-style-2 .slick-dots li {
    margin: 0;
}

.hero.hero-style-2 .slick-dots button {
    background-color: #fbb8ac;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.hero.hero-style-2 .slick-dots button:before,
.hero.hero-style-2 .slick-dots button:before {
    display: none;
}

/*--------------------------------------------------------------
#0.6  couple-section
--------------------------------------------------------------*/


.couple-section .couple-grids .grid {
  width: calc(50% - 30px);
  float: left;
}

@media (max-width: 767px) {
  .couple-section .couple-grids .grid {
    width: 100%;
    float: none;
  }
}

.couple-section .groom {
  text-align: right;
  margin-right: 15px;
  position: relative;
}

@media (max-width: 767px) {
  .couple-section .groom {
    text-align: left;
    margin: 0 0 50px;
  }
}

.couple-section .groom:before {
  background: url("../img/cloud.png") center center/cover no-repeat local;
  content: "";
  width: 399px;
  height: 390px;
  position: absolute;
  left: -100px;
  top: 10px;
  z-index: -1;
}

@media (max-width: 991px) {
  .couple-section .groom:before {
    top: -40px;
  }
}

@media (max-width: 767px) {
  .couple-section .groom:before {
    display: none;
  }
}

.couple-section .groom .details {
  padding-right: 75px;
}

@media (max-width: 767px) {
  .couple-section .groom .details {
    padding-right: 0;
  }
}

.couple-section .groom .social-links > li:last-child {
  margin-right: 0;
}

.couple-section .bride {
  margin-left: 15px;
  position: relative;
}

@media (max-width: 767px) {
  .couple-section .bride {
    margin-left: 0;
  }
}

.couple-section .bride .details {
  padding-left: 75px;
}

@media (max-width: 767px) {
  .couple-section .bride .details {
    padding-left: 0;
  }
}

.couple-section .bride:before {
  background: url("../img/cloud.png") center center/cover no-repeat local;
  content: "";
  width: 399px;
  height: 390px;
  position: absolute;
  right: -100px;
  top: 10px;
  z-index: -1;
}

@media (max-width: 991px) {
  .couple-section .bride:before {
    top: -40px;
  }
}

@media (max-width: 767px) {
  .couple-section .bride:before {
    display: none;
  }
}

.couple-section .grid .img-holder {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .couple-section .grid .img-holder {
    margin-bottom: 30px;
  }
}

.couple-section .grid h3 {
  font-size: 20px;
  font-size: 1.33333rem;
  font-weight: 600;
  margin: 0 0 0.65em;
  text-transform: uppercase;
}

.couple-section .grid p {
  margin-bottom: 1.5em;
}

.couple-section .social-links {
  overflow: hidden;
  padding-left: 0;
}

.couple-section .social-links li {
  display: inline-block;
  margin-right: 15px;
}

.couple-section .social-links li a {
  font-size: 16px;
  color: #83dceb;
}

.couple-section .social-links li a:hover {
  color: #ff85ab;
}

.couple-section .couple-heart {
  position: absolute;
  left: calc(50% - 15px);
  bottom: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .couple-section .couple-heart {
    display: none;
  }
}

/*site-footer*/
.site-footer-thanks {
    text-align: center;
}
.site-footer-thanks h2 {
  font-family: "Great Vibes", cursive;
  font-size: 67px;
  color: #fff;
  margin: 0 0 0.3em;
  padding: 0 250px;
  text-transform: capitalize;
  letter-spacing: 5px;
}

@media (max-width: 1199px) {
  .site-footer-thanks h2 {
    font-size: 55px;
    padding: 0 200px;
  }
}

@media (max-width: 991px) {
  .site-footer-thanks h2 {
    font-size: 45px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .site-footer-thanks h2 {
    font-size: 35px;
    letter-spacing: 2px;
  }
}

.site-footer-thanks h2 + span {
    font-size: 18px;
    color: #fff;
}

@media (max-width: 767px) {
  .site-footer-thanks h2 + span {
    font-size: 15px;
  }
}

